@import url("../bower_components/flextra/assets/less/main.less");

html,
body {
  height: 100%;
}

body {
  position: relative;
  * {
    font-family: sans-serif;
  }
  p {
    line-height: 1.5em;
  }
}

@diameter: 30px;
@pointer-background: transparent;
@pointer-border: orange;

#no_here {
  position: absolute;
  z-index: 1000;
  background: @pointer-background;
  border: solid 5px @pointer-border;
  animation: pulse 1s infinite ease-in-out;
  transform: translate( -100px, -100px);
  transition: transform 0s linear once;
}

.not-there {
  // background: ivory;
}

blink {
  // outline: solid 1px yellow;
  background: ivory;
  padding: 2px;
  border-radius: 3px;
}

.flex {
  > div {
    padding: 20px 40px;
  }
}

#trigger {
  position: absolute;
  margin: 20px 0;
  color: white;
  padding: 10px 20px;
  border-radius: 3px;
  box-shadow: 0 3px 0 #000;
  background: orange;
  text-decoration: none;
  #trigger:active {
    background: green;
  }
}

@keyframes pulse {
  0% {
    height: @diameter;
    width: @diameter;
    border-radius: @diameter;
    margin-top: -8px;
    margin-left: -8px;
  }
  50% {
    height: ~'calc( @{diameter} / 2 )';
    width: ~'calc( @{diameter} / 2 )';
    border-radius: @diameter;
    margin-top: -3px;
    margin-left: -3px;
  }
  100% {
    height: @diameter;
    width: @diameter;
    border-radius: @diameter;
    margin-top: -8px;
    margin-left: -8px;
  }
}
