@import url("../bower_components/Blankslate/reset.less");

html,
body {
  height: 100%;
}

body {
  position: relative;
  background: teal;
  * {
    font-family: sans-serif;
  }
}

@diameter: 30px;
@pointer-background: orange;
#no_here {
  position: absolute;
  background: @pointer-background;
  height: @diameter;
  width: @diameter;
  border-radius: ~'calc( @{diameter} / 2 )';
  animation: pulse 1s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    height: @diameter;
    width: @diameter;
    margin-top: 0;
    margin-left: 0;
  }
  50% {
    height: ~'calc( @{diameter} / 2 )';
    width: ~'calc( @{diameter} / 2 )';
    margin-top: ~'calc( @{diameter} / 4 )';
    margin-left: ~'calc( @{diameter} / 4 )';
  }
  100% {
    height: @diameter;
    width: @diameter;
    margin-top: 0;
    margin-left: 0;
  }
}
