@import url("../bower_components/Blankslate/reset.less");
@import url("../bower_components/flextra/assets/less/main.less");

html,
body {
  height: 100%;
}

body {
  position: relative;
  * {
    font-family: sans-serif;
  }
}

a {
  user-select: none;
}

@diameter: 30px;
@pointer-background: transparent;
@pointer-border: orange;

#no_here {
  position: absolute;
  z-index: 1000;
  background: @pointer-background;
  border: solid 5px @pointer-border;
  animation: pulse 1s infinite ease-in-out;
}

.not-there {
  // outline: solid 1px red;
  background: ivory;
}

@keyframes move {
  to {
    top: 100px;
    left: 300px;
  }
}

@keyframes pulse {
  0% {
    height: @diameter;
    width: @diameter;
    border-radius: @diameter;
    margin-top: -10px;
    margin-left: -10px;
  }
  50% {
    height: ~'calc( @{diameter} / 2 )';
    width: ~'calc( @{diameter} / 2 )';
    border-radius: @diameter;
    margin-top: -5px;
    margin-left: -5px;
  }
  100% {
    height: @diameter;
    width: @diameter;
    border-radius: @diameter;
    margin-top: -10px;
    margin-left: -10px;
  }
}
