/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
q:before,
blockquote:after,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  height: 100%;
}
body {
  font-family: Sans-Serif;
}
h1 {
  position: absolute;
  z-index: 1;
  margin: 20px 30px 0;
  padding: 10px 20px;
  background: yellow;
  color: black;
  font-weight: bold;
  box-shadow: 1px 1px 1px 1px black;
}
.flex {
  display: flex;
  flex-direction: row;
}
.flex.vertical {
  flex-direction: column;
}
.flex.vertical .centre,
.flex.vertical .center {
  flex-direction: column;
  display: flex;
  flex: 1;
}
.flex.vertical .centre::before,
.flex.vertical .center::before {
  display: flex;
  flex: 1;
  content: ".";
  color: transparent;
}
.flex.vertical .centre::after,
.flex.vertical .center::after {
  display: flex;
  flex: 1;
  content: ".";
  color: transparent;
}
.flex > div,
.flex > article {
  display: flex;
  flex: 1;
  position: relative;
}
.flex > div:nth-of-type(1),
.flex > article:nth-of-type(1) {
  background: #333;
}
.flex > div:nth-of-type(2),
.flex > article:nth-of-type(2) {
  background: #666;
}
.flex > div:nth-of-type(3),
.flex > article:nth-of-type(3) {
  background: #999;
}
h3 {
  text-align: center;
  width: 100%;
}
.fullheight {
  height: 100%;
}
.fullwidth {
  width: 100%;
}
html,
body {
  height: 100%;
}
body {
  position: relative;
}
body * {
  font-family: sans-serif;
}
#no_here {
  position: absolute;
  z-index: 1000;
  background: transparent;
  border: solid 5px orange;
  animation: pulse 1s infinite ease-in-out;
  transform: translate(-100px, -100px);
  transition: transform 0s linear once;
}
.not-there {
  background: ivory;
}
blink {
  outline: solid 1px yellow;
}
.flex > div {
  padding: 20px 40px;
}
@keyframes pulse {
  0% {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    margin-top: -10px;
    margin-left: -10px;
  }
  50% {
    height: calc( 30px / 2 );
    width: calc( 30px / 2 );
    border-radius: 30px;
    margin-top: -5px;
    margin-left: -5px;
  }
  100% {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    margin-top: -10px;
    margin-left: -10px;
  }
}
